Admin/XML/Object.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified"
           targetNamespace="http://megatravell.com/object" xmlns:object="http://megatravell.com/object"
           xmlns:address="http://www.megatravell.com/address" xmlns:user="http://www.megatravell.com/user">
    <xs:import namespace="http://www.megatravell.com/address" schemaLocation="Adress.xsd"/>
    <xs:import namespace="http://www.megatravell.com/user" schemaLocation="User.xsd"/>
    <xs:element name="Object">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Name">
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:maxLength value="40"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
                <xs:element name="Description">
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:maxLength value="150"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
                <xs:element name="Cancellation" type="xs:positiveInteger"/>
                <xs:element name="Category">
                    <xs:simpleType>
                        <xs:restriction base="xs:int">
                            <xs:minInclusive value="0"/>
                            <xs:maxInclusive value="5"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
                <xs:element ref="address:Adress"/>
                <xs:element maxOccurs="unbounded" minOccurs="0" ref="object:Image"/>
                <xs:element maxOccurs="unbounded" minOccurs="0" ref="object:Comment"/>
                <xs:element maxOccurs="unbounded" minOccurs="0" ref="object:ExtraOption"/>
                <xs:element maxOccurs="unbounded" minOccurs="0" ref="object:Unit"/>
                <xs:element maxOccurs="unbounded" minOccurs="0" ref="object:Rating"/>
                <xs:element ref="object:ObjectType"/>
                <xs:element ref="user:Agent"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="ObjectType">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Name">
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:minLength value="1"/>
                            <xs:maxLength value="40"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
                <xs:element name="Description">
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:maxLength value="150"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="Unit">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Adults" type="xs:positiveInteger"/>
                <xs:element name="Children">
                    <xs:simpleType>
                        <xs:restriction base="xs:int">
                            <xs:minInclusive value="0"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
                <xs:element name="Beds" type="xs:positiveInteger"/>
                <xs:element name="Size" type="xs:decimal"/>
                <xs:element name="Smoking" type="xs:boolean"/>
                <xs:element maxOccurs="unbounded" minOccurs="0" ref="object:Price_schedule"/>
                <xs:element ref="object:AccommodationType"/>
                <xs:element maxOccurs="unbounded" minOccurs="0" ref="object:Image"/>
                <xs:element maxOccurs="unbounded" minOccurs="0" ref="object:Reservation"/>
                <xs:element ref="object:Object"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="Price_schedule">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Year" type="xs:int"/>
                <xs:element name="Made" type="xs:date"/>
                <xs:element maxOccurs="unbounded" minOccurs="0" ref="object:Plan"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="Plan">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="From" type="xs:date"/>
                <xs:element name="To" type="xs:date"/>
                <xs:element name="Price">
                    <xs:simpleType>
                        <xs:restriction base="xs:double">
                            <xs:minInclusive value="0"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
                <xs:element name="Month" type="xs:int"/>
                <xs:element name="Per_person" type="xs:boolean"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="AccommodationType">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Name">
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:minLength value="1"/>
                            <xs:maxLength value="40"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
                <xs:element name="Description">
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:maxLength value="150"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="ExtraOption">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Name">
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:minLength value="1"/>
                            <xs:maxLength value="40"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
                <xs:element name="Description">
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:maxLength value="150"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
                <xs:element name="Price">
                    <xs:simpleType>
                        <xs:restriction base="xs:double">
                            <xs:minInclusive value="0"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="Includes">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="quantity">
                    <xs:simpleType>
                        <xs:restriction base="xs:int">
                            <xs:minInclusive value="0"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
                <xs:element ref="object:Reservation"/>
                <xs:element ref="object:ExtraOption"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="Reservation">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Start" type="xs:date"/>
                <xs:element name="End" type="xs:date"/>
                <xs:element default="false" name="Confirmed" type="xs:boolean"/>
                <xs:element name="PossibleCancellationDate" type="xs:date"/>
                <xs:element name="Price">
                    <xs:simpleType>
                        <xs:restriction base="xs:double">
                            <xs:minInclusive value="0"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
                <xs:element ref="object:Unit"/>
                <xs:element maxOccurs="unbounded" minOccurs="0" ref="object:Includes"/>
                <xs:element ref="user:RegisteredUser"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="Image">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="source" type="xs:base64Binary"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="Comment">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Text">
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:maxLength value="150"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
                <xs:element name="DateOfPublication" type="xs:dateTime"/>
                <xs:element default="false" name="approved" type="xs:boolean"/>
                <xs:element ref="object:Object"/>
                <xs:element ref="user:RegisteredUser"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="Rating">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="mark">
                    <xs:simpleType>
                        <xs:restriction base="xs:int">
                            <xs:minInclusive value="1"/>
                            <xs:maxInclusive value="5"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
                <xs:element ref="object:Object"/>
                <xs:element ref="user:RegisteredUser"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
